<figure class="text-center m-5 h1">
  <blockquote class="blockquote">
    <p>Shopping Cart 🛒</p>
  </blockquote>
</figure>

<% @hash_session.each do |key,value| %>
<% item = Item.find(key) %>
<% actualPrice = value.to_i *  item.price  %>

<ol class="list-group ">
 <li class="list-group-item d-flex justify-content-between align-items-start">

 <div class="ms-2 me-auto">
      <div class="fw-bold"> <%= link_to item.name, item %></div>
      <%= item.description %> <br>

     <%# Quantity %>
   <div> Quantity :  <%= value.to_i %> </div>
    </div>
 <span class="badge bg-primary rounded-pill m-2"><%= number_to_currency actualPrice  %></span>
    <span class="badge bg-danger rounded-pill m-2">
      <%= button_to cart_path(item), method: :delete  do %>
        ❌
    <% end %>
    </span>
 </li>
</ol>

<% end %>



<%if @hash_session.size() !=0 %>

<ol class="list-group ">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Sub Total</div>

    </div>

    <span class="badge bg-primary rounded-pill me-5">


  <% @hash_session.each do |key,value| %>
<% item = Item.find(key) %>
<% actualPrice = value.to_i *  item.price  %>

<% @subtotal = @subtotal + actualPrice %>

<% end %>

 <%= number_to_currency @subtotal  %>
    </span>
  </li>
</ol>

<ol class="list-group  ">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">GST</div>

    </div>
          <% gst = @subtotal * @province.GST/100  %>
         <span class="badge bg-primary rounded-pill m-2 me-5"><%= number_to_currency gst %> </span>


  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">PST</div>

    </div>
        <% pst = @subtotal *  @province.PST/100  %>
         <span class="badge bg-primary rounded-pill m-2 me-5 "><%= number_to_currency pst %> </span>


  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold me-5 ">HST</div>

    </div>
          <% hst = @subtotal *  @province.HST/100 %>
         <span class="badge bg-primary rounded-pill m-2 me-5"><%= number_to_currency hst %> </span>


      <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold me-5 ">Total</div>

    </div>
          <%@total = @total + @subtotal + gst + pst + hst %>
         <span class="badge bg-primary rounded-pill m-2 me-5"><%= number_to_currency  @total %> </span>

<% end %>


<%if @hash_session.size() == 0 %>
  <h3 class="text-center m-5 ">
  No Item is Selected !
</h3>
<%end%>

<br>